<a href="https://colab.research.google.com/github/devindrajewth/Summer-22/blob/main/BLADE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from google.colab import files
uploaded = files.upload()

Saving Blade_fixed.xlsx to Blade_fixed.xlsx

In [6]:
import io 
blade_df= pd.read_excel(io.BytesIO(uploaded["Blade_fixed.xlsx"]))
blade_df

,Trip/Eats ID,Transaction Timestamp (UTC),Request Date (UTC),Request Time (UTC),Request Date (Local),Request Time (Local),Drop-off Date (UTC),Drop-off Time (UTC),Drop-off Date (Local),Drop-off Time (Local),...,Fare in Local Currency (excl. Taxes),Taxes in Local Currency,Tip in Local Currency,Transaction Amount in Local Currency (incl. Taxes),Local Currency Code,Fare in USD (excl. Taxes),Taxes in USD,Tip in USD,Transaction Amount in USD (incl. Taxes),"Estimated Service and Technology Fee (incl. Taxes, if any) in USD"
0,c61fe54a-4c02-4210-b3e7-7bca36452b44,2019-06-01 04:13:50,2019-06-01 00:00:00,3:55AM,2019-05-31 00:00:00,11:55PM,--,--,--,--,...,10.00,0,0.00,10.00,USD,10.00,0,0.00,10.00,1.00
1,399f5dee-b124-448b-b52e-5a5abe84159c,2019-06-01 04:46:15,2019-06-01 00:00:00,4:10AM,2019-06-01 00:00:00,12:10AM,2019-06-01 00:00:00,4:46AM,2019-06-01 00:00:00,12:46AM,...,75.52,0,0.00,75.52,USD,75.52,0,0.00,75.52,7.55
2,9bf8da24-1c44-4436-b93b-89424df50104,2019-06-01 05:47:49,2019-06-01 00:00:00,5:25AM,2019-06-01 00:00:00,1:25AM,2019-06-01 00:00:00,5:47AM,2019-06-01 00:00:00,1:47AM,...,22.51,0,0.00,22.51,USD,22.51,0,0.00,22.51,2.25
3,b85e3c08-5f85-47e3-bf3d-5cff6dd840dd,2019-06-01 06:10:26,2019-06-01 00:00:00,5:24AM,2019-06-01 00:00:00,1:24AM,2019-06-01 00:00:00,6:10AM,2019-06-01 00:00:00,2:10AM,...,41.62,0,0.00,41.62,USD,41.62,0,0.00,41.62,4.16
4,0f1cc64e-5353-4a71-b950-17bb22f51f9d,2019-06-01 11:02:24,2019-06-01 00:00:00,10:47AM,2019-06-01 00:00:00,6:47AM,2019-06-01 00:00:00,11:02AM,2019-06-01 00:00:00,7:02AM,...,14.97,0,0.00,14.97,USD,14.97,0,0.00,14.97,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,768d5b9c-e907-464d-a996-7fef476befbe,2019-08-31 21:38:40,2019-08-31 00:00:00,8:51PM,2019-08-31 00:00:00,4:51PM,2019-08-31 00:00:00,9:38PM,2019-08-31 00:00:00,5:38PM,...,103.59,0,0.00,103.59,USD,103.59,0,0.00,103.59,10.36
3105,33614378-2d1f-405c-8990-4762d6fb0d92,2019-08-31 22:39:15,2019-08-31 00:00:00,9:30PM,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,10:38PM,2019-08-31 00:00:00,6:38PM,...,50.43,0,0.00,50.43,USD,50.43,0,0.00,50.43,5.04
3106,33614378-2d1f-405c-8990-4762d6fb0d92,2019-08-31 22:40:59,2019-08-31 00:00:00,9:30PM,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,10:38PM,2019-08-31 00:00:00,6:38PM,...,0.00,0,11.73,11.73,USD,0.00,0,11.73,11.73,0.00
3107,75648a49-55e9-5ace-a3d8-947ef6723a64,2019-09-01 00:01:36,2019-08-31 00:00:00,11:19PM,2019-08-31 00:00:00,7:19PM,2019-09-01 00:00:00,12:01AM,2019-08-31 00:00:00,8:01PM,...,32.16,0,0.00,30.00,USD,32.16,0,0.00,30.00,3.00
3108,Service & Technology Fee,--,--,--,--,--,--,--,--,--,...,12268.88,0,0.00,12268.88,USD,12268.88,0,0.00,12268.88,NaN

Warning: Total number of columns (37) exceeds max_columns (20) limiting to first (20) columns.

In [7]:
blade_df.columns

Index(['Trip/Eats ID', 'Transaction Timestamp (UTC)', 'Request Date (UTC)',
       'Request Time (UTC)', 'Request Date (Local)', 'Request Time (Local)',
       'Drop-off Date (UTC)', 'Drop-off Time (UTC)', 'Drop-off Date (Local)',
       'Drop-off Time (Local)', 'Request Timezone Offset from UTC',
       'First Name', 'Last Name', 'Email', 'employee name ', 'Employee ID',
       'Service', 'City', 'Distance (mi)', 'Duration (min)', 'PICKUP ZIP',
       'DROP OFF ZIP', 'Expense Code', 'Program', 'Group', 'Payment Method',
       'Transaction Type', 'Fare in Local Currency (excl. Taxes)',
       'Taxes in Local Currency', 'Tip in Local Currency',
       'Transaction Amount in Local Currency (incl. Taxes)',
       'Local Currency Code', 'Fare in USD (excl. Taxes)', 'Taxes in USD',
       'Tip in USD', 'Transaction Amount in USD (incl. Taxes)',
       'Estimated Service and Technology Fee (incl. Taxes, if any) in USD'],
      dtype='object')

In [8]:
blade_df.describe()

,Fare in Local Currency (excl. Taxes),Taxes in Local Currency,Tip in Local Currency,Transaction Amount in Local Currency (incl. Taxes),Fare in USD (excl. Taxes),Taxes in USD,Tip in USD,Transaction Amount in USD (incl. Taxes),"Estimated Service and Technology Fee (incl. Taxes, if any) in USD"
count,3109.00000,3109.0,3109.000000,3109.000000,3109.000000,3109.0,3109.000000,3109.000000,3108.000000
mean,43.40036,0.0,1.188961,44.428701,43.404783,0.0,1.188961,44.433123,3.928784
std,229.93149,0.0,5.202765,229.789084,229.931782,0.0,5.202765,229.789357,6.931090
min,-383.21000,0.0,0.000000,-383.210000,-383.210000,0.0,0.000000,-383.210000,-38.320000
25%,11.37000,0.0,0.000000,13.260000,11.370000,0.0,0.000000,13.260000,1.150000
50%,23.45000,0.0,0.000000,23.610000,23.450000,0.0,0.000000,23.610000,2.310000
75%,46.99000,0.0,0.000000,47.280000,46.990000,0.0,0.000000,47.280000,4.692500
max,12268.88000,0.0,88.950000,12268.880000,12268.880000,0.0,88.950000,12268.880000,94.270000

In [9]:
blade_df_columnadj= blade_df.drop(columns=["Taxes in Local Currency","Taxes in USD","Tip in Local Currency","Fare in Local Currency (excl. Taxes)","Employee ID","Trip/Eats ID",
                                           "Transaction Amount in Local Currency (incl. Taxes)","Local Currency Code","Transaction Timestamp (UTC)","Request Date (UTC)","Request Time (UTC)",
                                           "Drop-off Date (UTC)","Drop-off Time (UTC)","Request Timezone Offset from UTC","First Name","Last Name"],
                                  axis=1)
blade_df_columnadj

,Request Date (Local),Request Time (Local),Drop-off Date (Local),Drop-off Time (Local),Email,employee name,Service,City,Distance (mi),Duration (min),...,DROP OFF ZIP,Expense Code,Program,Group,Payment Method,Transaction Type,Fare in USD (excl. Taxes),Tip in USD,Transaction Amount in USD (incl. Taxes),"Estimated Service and Technology Fee (incl. Taxes, if any) in USD"
0,2019-05-31 00:00:00,11:55PM,--,--,Employee1@blyblade.com,Jake_Mirto,Travel | Premium SUV,NYC Suburbs,--,--,...,"11937, USA",EXP10,CORP - Employee Rides,DEPT - CX,Monthly Billing,Fare,10.00,0.00,10.00,1.00
1,2019-06-01 00:00:00,12:10AM,2019-06-01 00:00:00,12:46AM,Employee2@blyblade.com,Cal_Thompson,Travel | Premium SUV,NYC Suburbs,8.49,27,...,"11930, USA",EXP10,CORP - Employee Rides,DEPT - OPS - NY,Monthly Billing,Fare,75.52,0.00,75.52,7.55
2,2019-06-01 00:00:00,1:25AM,2019-06-01 00:00:00,1:47AM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,New York City,5.63,14,...,"10027, USA",EXP12,CORP - Employee Rides,DEPT - OPS - NY,Monthly Billing,Fare,22.51,0.00,22.51,2.25
3,2019-06-01 00:00:00,1:24AM,2019-06-01 00:00:00,2:10AM,Employee3@blyblade.com,Esjona_Kadiu,Travel | UberX,New York City,13.23,36,...,"11214, USA",EXP12,Late Night Rides,DEPT - CX,Monthly Billing,Fare,41.62,0.00,41.62,4.16
4,2019-06-01 00:00:00,6:47AM,2019-06-01 00:00:00,7:02AM,Employee4@blyblade.com,Oksana_Orlov,Travel | UberX,New York City,3.65,10,...,"10010, USA",EXP10,CORP - Employee Rides,DEPT - CX,Monthly Billing,Fare,14.97,0.00,14.97,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,2019-08-31 00:00:00,4:51PM,2019-08-31 00:00:00,5:38PM,Employee51@blyblade.com,Jacqueline_Westbrook,Travel | Premium SUV,NYC Suburbs,9.1,40,...,"11937, USA",EXP4,PAX TRAVEL,DEPT - CX,Monthly Billing,Fare,103.59,0.00,103.59,10.36
3105,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,6:38PM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,NYC Suburbs,15.36,57,...,"11968, USA",EXP7,PAX TRAVEL,DEPT - OPS - NY,Monthly Billing,Fare,50.43,0.00,50.43,5.04
3106,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,6:38PM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,NYC Suburbs,15.36,57,...,"11968, USA",EXP7,PAX TRAVEL,DEPT - OPS - NY,Monthly Billing,Tip,0.00,11.73,11.73,0.00
3107,2019-08-31 00:00:00,7:19PM,2019-08-31 00:00:00,8:01PM,Employee52@blyblade.com,Allison _Keith,Eats,New York City,1.03,41,...,"10011, USA",--,Blade - Dinner Policy,DEPT - CX,Monthly Billing,Fare,32.16,0.00,30.00,3.00
3108,--,--,--,--,Employee8@blyblade.com,--_--,--,--,--,--,...,--,--,--,--,--,Service & Technology Fee,12268.88,0.00,12268.88,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [10]:
blade_df_columnadj.columns

Index(['Request Date (Local)', 'Request Time (Local)', 'Drop-off Date (Local)',
       'Drop-off Time (Local)', 'Email', 'employee name ', 'Service', 'City',
       'Distance (mi)', 'Duration (min)', 'PICKUP ZIP', 'DROP OFF ZIP',
       'Expense Code', 'Program', 'Group', 'Payment Method',
       'Transaction Type', 'Fare in USD (excl. Taxes)', 'Tip in USD',
       'Transaction Amount in USD (incl. Taxes)',
       'Estimated Service and Technology Fee (incl. Taxes, if any) in USD'],
      dtype='object')

In [11]:
#COLUMNS THAT WILL BE DROPPED..."Taxes in Local Currency","Taxes in USD","Tip in Local Currency","Fare in Local Currency (excl. Taxes)","Employee ID","Trips/Eats ID","Payment Method",
#                               "Transaction Amount in Local Currency (incl. Taxes)" "Local Currency Code","Transaction Timestamp (UTC)","Request Date (UTC)",
#                                "Request Time (UTC)","Drop-off Date (UTC)","Drop-off Time (UTC)","Request Timezone Offset from UTC","First Name","Last Name"


#All PAYMENTS WHERE "Monthly Payments"
#CURRENCY IS "USD"
#TIP'S ARE EXCLUDED from "Fare".....have a "0" in Fare column/columns
#TRANSACTION AMOUNT IN USD

In [12]:
blade_df_columnadj

,Request Date (Local),Request Time (Local),Drop-off Date (Local),Drop-off Time (Local),Email,employee name,Service,City,Distance (mi),Duration (min),...,DROP OFF ZIP,Expense Code,Program,Group,Payment Method,Transaction Type,Fare in USD (excl. Taxes),Tip in USD,Transaction Amount in USD (incl. Taxes),"Estimated Service and Technology Fee (incl. Taxes, if any) in USD"
0,2019-05-31 00:00:00,11:55PM,--,--,Employee1@blyblade.com,Jake_Mirto,Travel | Premium SUV,NYC Suburbs,--,--,...,"11937, USA",EXP10,CORP - Employee Rides,DEPT - CX,Monthly Billing,Fare,10.00,0.00,10.00,1.00
1,2019-06-01 00:00:00,12:10AM,2019-06-01 00:00:00,12:46AM,Employee2@blyblade.com,Cal_Thompson,Travel | Premium SUV,NYC Suburbs,8.49,27,...,"11930, USA",EXP10,CORP - Employee Rides,DEPT - OPS - NY,Monthly Billing,Fare,75.52,0.00,75.52,7.55
2,2019-06-01 00:00:00,1:25AM,2019-06-01 00:00:00,1:47AM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,New York City,5.63,14,...,"10027, USA",EXP12,CORP - Employee Rides,DEPT - OPS - NY,Monthly Billing,Fare,22.51,0.00,22.51,2.25
3,2019-06-01 00:00:00,1:24AM,2019-06-01 00:00:00,2:10AM,Employee3@blyblade.com,Esjona_Kadiu,Travel | UberX,New York City,13.23,36,...,"11214, USA",EXP12,Late Night Rides,DEPT - CX,Monthly Billing,Fare,41.62,0.00,41.62,4.16
4,2019-06-01 00:00:00,6:47AM,2019-06-01 00:00:00,7:02AM,Employee4@blyblade.com,Oksana_Orlov,Travel | UberX,New York City,3.65,10,...,"10010, USA",EXP10,CORP - Employee Rides,DEPT - CX,Monthly Billing,Fare,14.97,0.00,14.97,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,2019-08-31 00:00:00,4:51PM,2019-08-31 00:00:00,5:38PM,Employee51@blyblade.com,Jacqueline_Westbrook,Travel | Premium SUV,NYC Suburbs,9.1,40,...,"11937, USA",EXP4,PAX TRAVEL,DEPT - CX,Monthly Billing,Fare,103.59,0.00,103.59,10.36
3105,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,6:38PM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,NYC Suburbs,15.36,57,...,"11968, USA",EXP7,PAX TRAVEL,DEPT - OPS - NY,Monthly Billing,Fare,50.43,0.00,50.43,5.04
3106,2019-08-31 00:00:00,5:30PM,2019-08-31 00:00:00,6:38PM,Employee2@blyblade.com,Cal_Thompson,Travel | UberX,NYC Suburbs,15.36,57,...,"11968, USA",EXP7,PAX TRAVEL,DEPT - OPS - NY,Monthly Billing,Tip,0.00,11.73,11.73,0.00
3107,2019-08-31 00:00:00,7:19PM,2019-08-31 00:00:00,8:01PM,Employee52@blyblade.com,Allison _Keith,Eats,New York City,1.03,41,...,"10011, USA",--,Blade - Dinner Policy,DEPT - CX,Monthly Billing,Fare,32.16,0.00,30.00,3.00
3108,--,--,--,--,Employee8@blyblade.com,--_--,--,--,--,--,...,--,--,--,--,--,Service & Technology Fee,12268.88,0.00,12268.88,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
blade_df_columnadj.shape

(3109, 21)

In [ ]:
blade_analysis_data_1= blade_df_columnadj["employee name","Service","City","Distance (mi)","Duration (min)",""]]